.container,.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  display: flex;
}
.container {
  padding: 6px 0px 6px 12px;
}
.wrapper {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--box-shadow-3);
  padding-left: 80px;
  padding-right: 6px;
  box-shadow: 0px 15px 30px 0px #00000026;
}
.badge {
  position: absolute;
  display: block;
  height: 120%;
  left: -5%;
  top: 50%;
  transform: translateY(-50%);
  /* display: flex; */
  /* background: var(--ddi-gradient-r) */
}
.badgeBg {
  height: 100%;
}
.badgeBg > svg {
  margin: auto;
  height: 110%;
}
.badge > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
  font: italic 500 22px Prompt;
  color: white;
}
.teamName {
  width: 100%;
  display: grid;
}
.teamName > p {
  margin: auto;
  width: 100%;
  text-align: left;
  font: 500 22px Prompt;
}
.teamFund {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}
.teamFund > p {
  font: 600 22px Prompt;
}
.ddi_dollar {
  display: grid;
}
.ddi_dollar > svg {
  margin: auto;
  width: 24px;
  height: 24px;
}