.container {
  /* background: white; */
  box-shadow: var(--box-shadow-2);
  height: fit-content;
  border-radius: 15px;
}
.wrapper {
  background: white;
  box-shadow: var(--box-shadow-1);
  padding: 12px 20px;
  border-radius: 15px;
  height: fit-content;
}
.teamName {
  width: 100%;
  display: grid;
}
.teamName > p {
  margin: auto;
  font: 400 22px Prompt;
}
.fund_ct {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fund_ct > p {
  font: 600 22px Prompt;
  background: var(--ddi-gradient-r);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ddi_dollar {
  padding-left: 6px;
  display: grid;
}
.ddi_dollar > svg {
  margin: auto;
  width: 22px;
  height: 22px;
}
.button_gp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.plus_button,.minus_button {
  flex: 1;
  border: none;
  background: var(--ddi-gradient-r);
  height: 32px;
  border-radius: 8px;
  display: grid;
}
.plus_button > svg,.minus_button > svg {
  margin: auto;
}
.plus_button > div,
.minus_button > div {
    margin: auto;
}
@media (width <= 800px) {
  .container {
    box-shadow: none;
  }
  .wrapper {
    padding: 12px;
  }
  .teamName > p {
    font-size: 20px;
  }
  .fund_ct > p {
    font: 500 20px Prompt;
  }
  .ddi_dollar > svg {
    width: 18px;
    height: 18px;
  }
  .plus_button,.minus_button {
    height: 24px;
  }
}
